.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.Button {
    text-decoration: none;
    border-radius: 25;
    margin: 0 30px;
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: #8C30F5;
    border-radius: 8px;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
}

.Number {
    font-size: 20px;
    padding: 20px;
    margin: 0;
}

.Controls {
    display: flex;
    justify-content: center;
}
